<% layout('/layouts/main') -%>

<div class="card mt-4">
    <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis et ab perferendis modi, illum vitae aspernatur dignissimos saepe optio officia voluptatum suscipit doloribus officiis quod consectetur voluptates reprehenderit dolore neque maxime provident aut. Enim nisi esse necessitatibus quis minima culpa.</p>
    </div>
</div>