<section class="card">
  <div class="card-body">
    <h1>Routes and Geolocation!</h1>
    <hr class="my-4">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis porro, eveniet sapiente autem cumque esse ullam sit accusamus eaque odio ea reiciendis repellendus nostrum voluptatem id voluptas pariatur dignissimos temporibus! Molestiae, voluptas? Excepturi, illum et. Voluptas quia saepe nisi! Obcaecati.</h3>
  </div>
  <img id="destacada" src="/images/ultrawide (112).jpg" alt="Responsive image">
</section>