<% layout('/layouts/main') -%>

<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to nameApp</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis distinctio esse dolorum sapiente? Quos reprehenderit, mollitia, quas id qui commodi excepturi, molestias ab fugiat sint illum vero nostrum! Quis, quasi!</p>
</div>