<% layout('/layouts/main') -%>
    
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1 class="h4">
                    Account Register
                </h1>
            </div>
            <div class="card-body">
                <% if (message.length > 0) { %>
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                <% } %>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
